*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#images{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container{
  width:80%;
  margin: 25px;
}
.container img{
  width: 100%;
  height: 100%;
}
#buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#buttons button{
  background: transparent;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}
#buttons label{
  border: 2px solid black;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}


